@tailwind base;
@tailwind components;
@tailwind utilities;
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
@font-face {
	font-family: Thiccboi;
	src: url(./assets/regular.ttf);
}
body {
	font-family: Thiccboi, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #edf2ff;
}
.customscroll::-webkit-scrollbar {
	width: 6px;
}
.customscroll ::-webkit-scrollbar-track {
	background: #f1f1f1;
}
.customscroll::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 4px;
}
.customscroll::-webkit-scrollbar-thumb:hover {
	background: #555;
}
