@tailwind base;
@tailwind components;
@tailwind utilities;
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
@font-face {
	font-family: Thiccboi;
	src: url(./assets/regular.ttf);
}
body {
	font-family: Thiccboi, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.container {
	@apply max-w-[90rem] mx-auto px-7 lg:px-[5.375rem];
}

.result-card {
	background-image: url('/public/result-card-bg.png');
}

/* .ward_title span {
	width: 10rem;
	border: 2px;
	font-weight: 900;
	border: #555;
} */
/* .polling {
	width: 15rem !important;
} */