@media (min-width: 768px) and (max-width: 1024px) {
  /* styles for iPad and tablet screens */
  #hero {
    height: 11rem;
  }
  #stats {
    left: 1rem;
  }
  #pie {
    width: 30%;
    top: 2.3rem;
  }
  #bar {
    right: 1rem;
    top: 2rem;
  }
  #canwatch {
    width: 80%;
  }
}
